In [23]:
#Structure de donnees : sequences 
#Listes 
liste_1 = [1,4,2,7,35,84]
villes = ["Paris", "Berlin", "Londre", "Bruxelles"]
list_2 = [liste_1,villes]
liste_3 = []

#tuples 
tuple_1 = (1,2,6,1,7)

#String 
prenom = 'Nicolas'
#Séquence est une structure de données ordonnée et itérable.
chaine_de_caracteres = "Bonjour tout le monde"
print(villes[0])
print(villes[1])
print(villes[-1])
print(villes[-2])

Paris
Berlin
Bruxelles
Londre

In [9]:
#slicing Liste[debut:fin:pas] meme range(debut , fin , pas) pour les boucles for()
#print(villes[0:3]) = print(villes[:3])
#en partant de l'indice 2 jusqu'à la fin de la liste
print(villes[2::])
#pas 
#tout du début jusqu'à la fin avec un pas de 2 
print(villes[::2])
print(villes[::-1]) #inverse la liste

['Londre', 'Bruxelles']
['Paris', 'Londre']
['Bruxelles', 'Londre', 'Berlin', 'Paris']

In [12]:
print(prenom[:3])  #affiche les 3 premiers caracteres
print(prenom[3:])  #affiche a partir du 4eme caractere  
villes[0] = "Dublin"
print(villes)

Nic
olas
['Dublin', 'Berlin', 'Londre', 'Bruxelles']

In [27]:
#rajouter à la fin à une liste
villes.append("Dublin")

In [28]:
#insérer à un indice précis
villes.insert(2,"Madrid")
villes

['Paris',
 'Berlin',
 'Madrid',
 'Londre',
 'Bruxelles',
 'Amsterdam',
 'Rome',
 'Dublin']

In [25]:
#une liste elle meme à la fin d'une liste Liste.exten(liste)
villes_2 = ["Amsterdam","Rome"]
villes.extend(villes_2)
villes

['Paris', 'Berlin', 'Londre', 'Bruxelles', 'Amsterdam', 'Rome']

In [29]:
len(villes)  #nombre d'elements dans la liste

8

In [30]:
#trier une liste 
villes.sort(reverse=True)  #ordre decroissant
villes

['Rome',
 'Paris',
 'Madrid',
 'Londre',
 'Dublin',
 'Bruxelles',
 'Berlin',
 'Amsterdam']

In [19]:
liste_2 = [52,21,23,61,3,2,78,24]
liste_2.sort()
liste_2

[2, 3, 21, 23, 24, 52, 61, 78]

In [31]:
villes.count("Paris")  #compter le nombre d'occurence d'un element dans la liste

1

In [32]:
villes

['Rome',
 'Paris',
 'Madrid',
 'Londre',
 'Dublin',
 'Bruxelles',
 'Berlin',
 'Amsterdam']

In [33]:
villes[3]= 'Paris'
villes.count("Paris")

2

In [34]:
#les listes dans les structures de contoles 
if 'Paris' in villes: 
    print("oui")
else:
    print("non")

oui

In [43]:
#boucle for pour parcourir une liste 
for i in villes:
    print(i)
for index , valeur in enumerate(villes):
    print(index,valeur)

Rome
Paris
Madrid
Paris
Dublin
Bruxelles
Berlin
Amsterdam
0 Rome
1 Paris
2 Madrid
3 Paris
4 Dublin
5 Bruxelles
6 Berlin
7 Amsterdam

In [39]:
#la commande zip pour parcourir deux listes en meme temps
for a,b in zip(villes , liste_2):
    print(a,b)

Rome 2
Paris 3
Madrid 21
Paris 23
Dublin 24
Bruxelles 52
Berlin 61
Amsterdam 78

In [41]:
#fonction de fibonnacci avec liste
def fibonacci(n):
    a, b = 0, 1
    sequence = []
    for _ in range(n):
        sequence.append(a)
        a, b = b, a + b
    return sequence

In [44]:
fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Dictionnaire :